#ignore bin and obj in TrainApi
TrainApi/bin
TrainApi/obj

#ignore bin and obj in Infrastructure
Infrastructure/bin
Infrastructure/obj

#ignore bin and obj in Service
Service/bin
Service/obj

#ignore bin and obj in Models
Models/bin
Models/obj

#ignore bin and obj in Interfaces
Interfaces/bin
Interfaces/obj

#ignore bin and obj in BlazorServer
BlazorServer/bin
BlazorServer/obj

#ignore bin and obj in BlazorComponents
BlazorComponents/bin
BlazorComponents/obj

#ignore .vscode in Project
.vscode/

#ignore .vscode in Sql
Sql/.vscode





